@tailwind base;
@tailwind components;
@tailwind utilities;
.react-pdf__Page {
     margin: 0 auto;
 
     
  
 }
 
 .react-pdf__Page__canvas{

     height: 90vh!important;
     object-fit: cover !important;
     display: none !important;
 }
.pdf_container{
     height: 50vh !important; 
     overflow: scroll;
 
 
}
 
.react-pdf__Page__textContent{
 
     width: max-content !important;
   
   }
   .annotationLayer{
     display: none !important;
   }
 
   .react-pdf__Document{
     height: 90vh !important;
     padding: 1rem;
     margin-top: 10px;
     width: 75% !important;
    overflow-y: scroll;
   }